.articles {
    max-width: 1000px;
    margin: 2rem auto;
    padding: 0 1rem;
    background-color: #99aab5 ;
    border-radius: 10px;
    box-shadow: 1px 2px 3px black;
}

.articles__title {
    text-transform: uppercase;
}
.articles__date {
    color: #717b8e;
    font-size: 15px;
}

.articles__container {
    background-color: #7289da ;
    border-radius: 10px;
    box-shadow: 1px 2px 3px black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.articles__item {
    background-color: #ffffff ;
    width: 5000px;
    height: auto;
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem;
    box-shadow: 1px 2px 3px #c3c3c3;
}

.articles__item--500 {
    border-color: #7289da;
    background-color: #7289da;
}

.articles__description {
    font-size: 16px;
    font-weight: normal;
    text-indent: 20px;
}
.articles__subtitle {
    font-size: 16px;
    font-weight: normal;
}

.articles__deleteButton {
    width: 70px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background: red;
    box-shadow: 1px 2px 3px #240d0d;
}

.articles__deleteButton--500 {
    background: red;
}

.articles__deleteButton:hover {
    transform: translateY(-2px);
    cursor: pointer;
}

.articles__deleteButton:active {
    transform: none;
    box-shadow: none;
}


/* reminder for responsiveness */

@media screen and (max-width: 900px) {
    
    .articles__item--500 {
        border-color: #7289da;
        background-color: #7289da;
    }
}