.newArticle__form {
    width: 300px;
    min-height: 330px;
    margin: 3rem auto;
    border: 2px solid yellow;
    border-radius: 5px;
    padding: 1rem;
    box-shadow: 1px 2px 3px black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.newArticle__title {
    margin: 0;
    text-transform: uppercase;
}

.newArticle__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.newArticle__input {
    width: 150px;
    padding: 0.5rem 0 0.5rem 0.5rem;
    border: 2px yellow solid;
    border-radius: 5px;
}

.newArticle__description {
    width: 280px;
    height: 110px;
    padding: 0.5rem;
    box-sizing: border-box;
    border: 2px yellow solid;
    border-radius: 5px;
}

.newArticle__submitButton {
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(144deg, yellow, black);
    box-shadow: 1px 2px 3px #c3c3c3;
}

.newArticle__submitButton:hover {
    transform: translateY(-2px);
    cursor: pointer;
}

.newArticle__submitButton:active {
    transform: translateY(2px);
    box-shadow: none;
}